* {
  all: unset; //Unsets everything so you can style everything from scratch
}

$primary-bg: #996699;
$primary-selected-bg: #ee66ee;
$primary-color: #FFFFFF;
$large-padding: 16px;
$middle-padding: 9px;
$small-padding: 4px;
$large-radius: 16px;

//Global Styles
.bar {
	padding: $small-padding;
}

// Styles on classes (see eww.yuck for more information)

// workspace
.workspaces-widget {
  background-color: $primary-bg;
  color: $primary-color;
	border-radius: $large-radius;
	padding: $small-padding;
}
.workspaces-item-current {
  background-color: $primary-selected-bg;
  color: $primary-color;
	border-radius: $large-radius;
}
.workspaces-item-normal {
  background-color: $primary-bg;
  color: $primary-color;
	border-radius: $large-radius;
}
.window-title {
  background-color: $primary-bg;
  color: $primary-color;
	border-radius: $large-radius;
	padding-left: $middle-padding;
	padding-right: $middle-padding;
	padding-top: $small-padding;
	padding-bottom: $small-padding;
}
.sidestuff {
  background-color: $primary-bg;
  color: $primary-color;
	border-radius: $large-radius;
	padding-left: $middle-padding;
	padding-right: $middle-padding;
	padding-top: $small-padding;
	padding-bottom: $small-padding;
}
.sidestuff slider {
  all: unset;
  color: #ffd5cd;
}
.metric scale trough highlight {
  all: unset;
  background-color: #D35D6E;
  color: #000000;
  border-radius: 10px;
}
.metric scale trough {
  all: unset;
  background-color: #4e4e4e;
  border-radius: 50px;
  min-height: 3px;
  min-width: 50px;
  margin-left: 10px;
  margin-right: 20px;
}
.metric scale trough highlight {
  all: unset;
  background-color: #D35D6E;
  color: #000000;
  border-radius: 10px;
}
.metric scale trough {
  all: unset;
  background-color: #4e4e4e;
  border-radius: 50px;
  min-height: 3px;
  min-width: 50px;
  margin-left: 10px;
  margin-right: 20px;
}
.label-ram {
  font-size: large;
}
.workspaces button:hover {
  color: #D35D6E;
}
